body{
    background-color: rgb(255, 255, 255);
    }

h1{
    font-family:cursive;
    color:rgb(255, 255, 255);
    background-color: black;
}

span {color: aqua;}

    
h2 {
    color: rgb(255, 255, 255);
    background-color: blueviolet;
}

h2 {

    font-weight: lighter;
    text-align: center;
    font-style: italic;
}
h3{
    font-weight: lighter;
    font-family:monospace
    color:rgb(0, 0, 0);
    background-color: aqua;
    text-align: right;
    text-decoration: underline;
}

